<form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Email</label>
        <input type="email" class="form-control" id="username" formControlName="username">
        <span class="help-block" *ngIf="usernameInvalid">
            <label *ngIf="RegisterForm.get('username').errors['required']" class="alert alert-danger">field is required</label>
            <label *ngIf="RegisterForm.get('username').errors['email']" class="alert alert-danger">must be an email</label>
        </span>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <label *ngIf="passwordInvalid" class="alert alert-danger">field is required</label>
    </div>
    <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" class="form-control" id="passwordConfirm" formControlName="passwordConfirm">
        <label *ngIf="passwordConfirmInvalid" class="alert alert-danger">field is required</label>
        <label *ngIf="passwordError"class="alert alert-danger">Passwords do not match</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="RegisterForm.invalid">Register</button>
    <a routerLink="/login" class="btn btn-outline-primary">Back</a>
</form>
